/* winner-popup */
.spin-wheel-winner-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.9);
  color: white;
  padding: 30px;
  border-radius: 15px;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 0 30px rgba(255,215,0,0.5);
  max-width: 80%;
  display: none; /* Initially hidden */
}

.spin-wheel-winner-popup h3 {
  color: gold;
  font-size: 2rem;
  background-color: transparent;
  margin-bottom: 20px;
}

.spin-wheel-winner-popup .spin-wheel-winner-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #fff;
    background-color: transparent;

}

.spin-wheel-winner-popup .spin-wheel-winner-combination {
  font-family: monospace;
  font-size: 1.8rem;
    background-color: transparent;

  color: #ff6b6b;
  margin: 15px 0;
}

.spin-wheel-close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
    background-color: transparent;

  cursor: pointer;
  color: white;
}

