/* header with ressults */
.spin-wheel-header-with-results {
  margin-bottom: 5px;
    border-radius: 10px !important;
  width: 300px !important;
}

.spin-wheel-quick-results {
  background-color: white;
  border-radius: 10px !important;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.spin-wheel-quick-results h3 {
  margin-bottom: 10px;
  color: var(--primary-color);
}

