.spin-wheel-results {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  max-width: 400px;
  margin-left: -30rem;
  overflow: hidden;
  max-height: 300px;
  overflow-y: auto;
}

.spin-wheel-result-display {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

