.spin-wheel-results {
  display: none;
}

.spin-wheel-results::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.spin-wheel-result-display {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

