.customer-reviews-section {
    background-color: #ffc516;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    padding: 80px 20px;
  }
  
  .customer-reviews-heading {
    font-size: 32px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
  }
  
  .customer-reviews-subheading {
    font-size: 16px;
    color: #000;
    margin-bottom: 60px;
  }
  
  .review-card {
    background: #fff;
    width: 360px;
    min-height: 140px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  .review-icon {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #ffc516;
    background: #fff;
    object-fit: cover;
  }
  
  .trustpilot-btn {
    margin-top: 100px;
    background: white;
    border: 2px solid #00b67a;
    color: #000;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .trustpilot-btn:hover {
    background-color: #eeeeee;
    color: #000000;
  }
  
  .trustpilot-star {
    color: #00b67a;
    font-weight: bold;
    margin: 0 5px;
  }

  